# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import google_api_key

# Configure gmaps
gmaps.configure(api_key=google_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Stantsionno-Oyashinskiy,RU,55.4664,83.8245,41.67,81,59,9.89,broken clouds
1,1,Tuy Hoa,VN,13.0833,109.3000,81.23,78,90,9.89,overcast clouds
2,2,Geraldton,AU,-28.7667,114.6000,69.37,62,37,14.74,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,71.10,70,99,19.44,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,77.16,78,75,16.11,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Tuy Hoa,VN,13.0833,109.3000,81.23,78,90,9.89,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,71.10,70,99,19.44,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,77.16,78,75,16.11,broken clouds
11,11,Arraial Do Cabo,BR,-22.9661,-42.0278,72.64,87,4,30.29,clear sky
14,14,Pemangkat,ID,1.1667,108.9667,86.11,65,83,5.88,broken clouds
28,28,Mataundh,IN,25.4500,80.1500,79.38,48,0,3.76,clear sky
30,30,Kalmunai,LK,7.4167,81.8167,78.55,85,100,1.72,moderate rain
31,31,Bengkulu,ID,-3.8004,102.2655,81.19,76,100,5.64,overcast clouds
33,33,Hilo,US,19.7297,-155.0900,82.13,74,20,12.66,few clouds
34,34,Kapaa,US,22.0752,-159.3190,75.09,79,100,1.01,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Tuy Hoa,VN,13.0833,109.3000,81.23,78,90,9.89,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,71.10,70,99,19.44,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,77.16,78,75,16.11,broken clouds
11,11,Arraial Do Cabo,BR,-22.9661,-42.0278,72.64,87,4,30.29,clear sky
14,14,Pemangkat,ID,1.1667,108.9667,86.11,65,83,5.88,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()
# Display sample data
hotel_df.head(10)

               City Country  Max Temp      Description      Lat       Lng
1           Tuy Hoa      VN     81.23  overcast clouds  13.0833  109.3000
3           Rikitea      PF     71.10  overcast clouds -23.1203 -134.9692
4             Vaini      TO     77.16    broken clouds -21.2000 -175.2000
11  Arraial Do Cabo      BR     72.64        clear sky -22.9661  -42.0278
14        Pemangkat      ID     86.11    broken clouds   1.1667  108.9667
28         Mataundh      IN     79.38        clear sky  25.4500   80.1500
30         Kalmunai      LK     78.55    moderate rain   7.4167   81.8167
31         Bengkulu      ID     81.19  overcast clouds  -3.8004  102.2655
33             Hilo      US     82.13       few clouds  19.7297 -155.0900
34            Kapaa      US     75.09  overcast clouds  22.0752 -159.3190

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Tuy Hoa,VN,81.23,overcast clouds,13.0833,109.3000,
3,Rikitea,PF,71.10,overcast clouds,-23.1203,-134.9692,
4,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
11,Arraial Do Cabo,BR,72.64,clear sky,-22.9661,-42.0278,
14,Pemangkat,ID,86.11,broken clouds,1.1667,108.9667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}    

#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
#hotels = requests.get(base_url, params=params).json()

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
 #params = {
    #"radius": 5000,
    #"types": "lodging",
    #"key": google_api_key,
    #"location":"{lat},{lng}"
    #} 

# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    #hotels
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [10]:
len(hotels["results"])

20

In [11]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Tuy Hoa,VN,81.23,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
3,Rikitea,PF,71.10,overcast clouds,-23.1203,-134.9692,People ThankYou
4,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Arraial Do Cabo,BR,72.64,clear sky,-22.9661,-42.0278,Pousada Porto Praia
14,Pemangkat,ID,86.11,broken clouds,1.1667,108.9667,Hotel Duyung Permai 2

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Tuy Hoa,VN,81.23,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
3,Rikitea,PF,71.10,overcast clouds,-23.1203,-134.9692,People ThankYou
4,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Arraial Do Cabo,BR,72.64,clear sky,-22.9661,-42.0278,Pousada Porto Praia
14,Pemangkat,ID,86.11,broken clouds,1.1667,108.9667,Hotel Duyung Permai 2
28,Mataundh,IN,79.38,clear sky,25.4500,80.1500,आंगनबाड़ी केंद्र mataundh बांदा घुरहथोक संचालक...
30,Kalmunai,LK,78.55,moderate rain,7.4167,81.8167,VS Villa
31,Bengkulu,ID,81.19,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
33,Hilo,US,82.13,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
34,Kapaa,US,75.09,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>CenDeluxe Hotel Tuy Hoa</dd>\n<dt>City</dt><dd>Tuy Hoa</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Duyung Permai 2</dd>\n<dt>City</dt><dd>Pemangkat</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>आंगनबाड़ी केंद्र mataundh बांदा घुरहथोक संचालक रानी देवी</dd>\n<dt>City</dt><dd>Mataundh</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>VS Villa</dd>\n<dt>City</dt><dd>Kalmunai</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>moderate rain and 78.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.09 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   13.0833  109.3000
3  -23.1203 -134.9692
4  -21.2000 -175.2000
11 -22.9661  -42.0278
14   1.1667  108.9667
28  25.4500   80.1500
30   7.4167   81.8167
31  -3.8004  102.2655
33  19.7297 -155.0900
34  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [21]:
import collections

try:
    collectionsAbc = collections.abc
except AttributeError:
    collectionsAbc = collections

In [ ]:
# Add a marker layer for each city to the map.
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers) 
# Display the figure containing the map
fig